 /* Alap CSS formázás */
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cím formázása */
h2 {
    font-size: 60px;
    padding-top: 60px;
    font-weight: bold;
    background: linear-gradient(135deg, #A8B9C7, #6B7A8C, #2C3E50); /* Kékes-szürke átmenet */
    -webkit-background-clip: text; /* Webkit előtag a szöveg háttérszínének alkalmazására */
    background-clip: text; /* Szabványos háttér-clip a szövegre */
    color: white; /* A szöveg színe átlátszó, hogy a háttér-átmenet látszódjon */
    text-align: center;
}

#h2cim{
    margin-bottom: 30px;
}

/* Táblázat stílus */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #6B7A8C;
    color: white;
    font-size: 18px;
}

td {
    background-color: #f9f9f9;
    font-size: 16px;
}

tr:nth-child(even) td {
    background-color: #e6e6e6; /* Páros sorok színezése */
}

tr:hover {
    background-color: #d5d5d5; /* Hover effekt */
}

/* Responszív táblázat (mobilbarát) */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        font-size: 14px;
        padding: 10px;
    }
}